
.slide{
 color: rgb(212, 205, 241);
 height: 70vh;
 display: flex;
 justify-content: center;
 align-items: center;
 width: 100%;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 border-radius: 16px;
}

/* .slide1{
    
}

.slide2{
    background-image: url("./assets/2.jpg");
}

.slide3{
    background-image: url("./assets/3.jpg");
}

.slide4{
    background-image: url("./assets/4.jpg");
}

.slide5{
    background-image: url("./assets/5.jpg");
}

.slide6{
    background-image: url("./assets/6.jpg");
} */